.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients__box {
  @extend %flex-center;
}
.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  display: flex;
}
.clients__item-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.clients__item-icon {
  fill: #afb1b8;
  cursor: pointer;
  border: 1px solid #afb1b8;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 6px;
  width: 170px;
  height: 92px;
  transition-property: fill, border;
  @extend %transition-set;
  &:hover {
    fill: $colroTextLink;
    cursor: pointer;
    border: 1px solid $colroTextLink;
  }
}

.clients__title {
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  color: $colorTextTitle;
}
