@media (max-width: 480px) {
  .mobile-menu {
    width: 40px;
    height: 40px;
  }
  .contacts {
    flex-direction: column-reverse;
    margin: 0;
    flex-wrap: wrap;
    gap: 32px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 64px;
  }
  .contacts__link {
    font-size: 34px;
  }
  .contacts__link--mail {
    font-size: 24px;
  }
  .contacts__icon {
    display: none;
  }
  .contacts__icon-phone {
    display: none;
  }
}
@media (min-width: 767px) {
  .contacts {
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .contacts__icon {
    width: 16px;
    height: 12px;
    fill: $colorTextPrimary;
    margin-right: 8px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: $colroTextLink;
      cursor: pointer;
    }
  }

  .contacts__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $colroTextLink;
      cursor: pointer;
    }
  }

  .contacts__link:hover .contacts__icon {
    fill: $colroTextLink;
    cursor: pointer;
  }
  .contacts__link:hover .contacts__icon-phone {
    fill: $colroTextLink;
    cursor: pointer;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 16px;
    fill: $colorTextPrimary;
    margin-right: 8px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
      fill: $colroTextLink;
    }
  }
}
@media (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}
