.feachers {
  padding-top: 94px;
}

.feachers__list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}
.feachers__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/radio-station.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/timer.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/cmputer.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/astronaut.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers__title {
  color: $colorTextTitle;
  font-weight: 700;
  font-size: 14px;
  @include fontSizeWeight(14px, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feachers__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: $colorTextPrimary;
}
