.feachers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feachers__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.feachers__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/radio-station.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/timer.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/cmputer.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  background-position: center;
}
.feachers__item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTextWhite;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/astronaut.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  background-position: center;
}
.feachers__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $colorTextTitle;
  font-weight: 700;
  font-size: 14px;
  @include fontSizeWeight(14px, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feachers__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: $colorTextPrimary;
}
@media (min-width: 768px) {
  .feachers__list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feachers__item::before {
    max-width: 354px;
  }
  .feachers__title {
    max-width: 354px;
  }
  .feachers__text {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .feachers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feachers__item::before {
    max-width: 270px;
  }
  .feachers__title {
    max-width: 270px;
  }
  .feachers__text {
    max-width: 270px;
  }
}
