.footer {
  align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: $colorTextFooterAndSections;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
}
.policy {
  display: block;
  max-width: 231px;
}
.footer-logo {
  display: flex;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: $colroTextLink;
}
.footer__logo-part {
  display: flex;
  gap: 10px;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: $colorTextSecondary;
  padding-bottom: 20px;
}
.footer__address {
  color: $colorTextSecondary;
  font-size: 14px;
  text-decoration: none;
}
.footer__link {
  color: $colorTextSecondary;
  font-size: 14px;
}
.footer__text {
  color: $colorTextSecondary;
  margin-bottom: 9px;
  font-size: 14px;
}
.footer__mail {
  margin-bottom: 9px;
}

.join {
  display: block;
  color: $colorTextSecondary;

  height: 100%;
  margin-left: 70px;
  font-weight: 700;
  margin-right: 93px;
}
.social__title {
  padding-bottom: 12px;
}
.social {
  display: flex;
  gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $colroTextLink;
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: $colorTextSecondary;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  :hover {
    fill: $colorTextSecondary;
  }
}
.ml__title {
  font-weight: 700;
  font-size: 14px;
  color: $colorTextSecondary;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.footer__content {
  display: flex;
  border: 1px solid (255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe__title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ml__mail {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  /* margin-top: 20px; */
  width: 358px;
  max-width: 358px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 50px;
  background-color: $colorTextFooterAndSections;
}
.email__info {
  color: rgb(255, 255, 255, 0.6);
}
.footer-item-box {
  display: flex;
  justify-content: flex-end;
}

.subscribe__form {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}
.email__info {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.ml__button {
  display: flex;
  font-weight: 700;
  align-items: center;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 28px;
  @extend %button-colors;
  cursor: pointer;
  /* margin: auto; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-height: 50px;
  transition-property: box-shadow, background-color;
  @extend %transition-set;
  @extend %button-colors;
  &:hover {
    box-shadow: 2px 3px 4px 1px rgb(33, 150, 243, 0.5);
    background-color: #5097d1;
  }
}

.vector__ml {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
