.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 0px 0px 1px 0px;
  border-color: $colorTextartiles;
  border-style: solid;
}

.logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: $colroTextLink;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}
.header__logo-part {
  color: $colorTextWords;
  display: flex;
  justify-content: flex-start;
}
