.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $colorTextFooterAndSections;
  background-image: linear-gradient(to right, #2f303a40, #2f303a40),
    url(../hero-photo/bg-photo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  display: flex;
  flex-direction: column;
}
.hero__title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;

  margin: auto;
  margin-bottom: 30px;
  color: $colorTextSecondary;
}
.hero__title-part {
  margin: auto;
}
.button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  @extend %button-colors;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, background-color;
  @extend %transition-set;
  &:hover {
    box-shadow: 2px 3px 4px 1px rgb(33, 150, 243, 0.5);
    background-color: #5097d1;
  }
}
