.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(50%, -20%);
}
.modal {
  background-color: #ffffff;
  position: absolute;
  max-height: 609px;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.88);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 370px;
  padding-top: 40px;
}
.form__box {
  max-width: 448px;
  min-height: 40px;
  display: flex;
  border: 1px solid rgb(117, 117, 117, 0.5);
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $colroTextLink;
    fill: $colroTextLink;
  }
}

.form__info {
  color: #757575;
}
.form__comment {
  padding-top: 12px;
  padding-left: 16px;
  color: rgb(117, 117, 117, 0.5);
  width: 448px;
  height: 120px;
}
.modal__vector-close {
  width: 18px;
  height: 18px;
}
.form__vector {
  margin-top: 11px;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill, cursor;
  @extend %transition-set;
  &:hover {
    fill: $colroTextLink;
    cursor: pointer;
  }
}

.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  transition-property: cursor, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $colroTextLink;
    cursor: pointer;
  }
}

.form__policy {
  margin-top: 20px;
  color: #757575;
}
.modal-vector-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__info-policy {
  margin-top: 20px;
  color: #757575;
  transition-property: color, border-bottom, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $colroTextLink;
    cursor: pointer;
    border-bottom: 1px solid $colroTextLink;
  }
}

.button-modal-submit {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 52px;
  @extend %button-colors;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 40px;
  transition-property: box-shadow;
  @extend %transition-set;
  &:hover {
    box-shadow: 0px 4px 4px 0px #2195f36d;
  }
}

.no-scroll {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
