.portfolio-container {
  /* max-width: 1170px; */
  flex-direction: column;
  align-items: center;
  display: flex;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
