.project__item {
  max-width: 450px;
}
.project {
  border-width: 0px 1px 1px 1px;
  border-color: $colorTextartiles;
  border-style: solid;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  max-width: 450px;
  min-height: 404px;
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.project__photo {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  inset: 0;
  position: absolute;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.project:hover .project__overlay {
  transform: translateX(0);
}
.project__title {
  padding-top: 20px;
  padding-left: 24px;
}
.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $colorTextPrimary;
  padding-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.project__text-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  color: $colorTextSecondary;
  font-size: 18px;
  font-weight: 400;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio__item {
  color: $colorTextWords;
  flex-basis: calc((100% - 60px) / 3);
}
@media (min-width: 768px) {
  .project__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
  }
  .project {
    width: 370px;
  }
}
