.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $colorTextWhite;
}
.team__title {
  margin-bottom: 30px;
  color: $colorTextTitle;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $colorTextTitle;
}
.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.teammate {
  background-color: $colorTextSecondary;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}
.team__item {
  max-width: 450px;
}
.teammate__name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.teammate__role {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: $colorTextPrimary;
  padding-bottom: 30px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .team__list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .teammate {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__item {
    max-width: 270px;
  }
}
