:root {
  --colorTextTitle: #212121;
  --colorTextPrimary: #757575;
  --colorTextSecondary: #ffffff;
  --colroTextLink: #2196f3;
  --colorTextWords: #000000;
  --colorTextFooterAndSections: #2f303a;
  --colorTextAdress: #ffffff;
  --colorTextheader: #ececec;
  --colorTextWhite: #f5f4fa;
  --colorTextartiles: #eeeeee;
}
