:root {
  --colorTextTitle: #212121;
  --colorTextPrimary: #757575;
  --colorTextSecondary: #ffffff;
  --colroTextLink: #2196f3;
  --colorTextWords: #000000;
  --colorTextFooterAndSections: #2f303a;
  --colorTextAdress: #ffffff;
  --colorTextheader: #ececec;
  --colorTextWhite: #f5f4fa;
  --colorTextartiles: #eeeeee;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-list {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: 93px;
}
.header-logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
  display: flex;
  justify-content: flex-start;
}
.header-logo-part {
  color: var(--colorTextWords);
  display: flex;
  gap: 93px;
  justify-content: flex-start;
}
.contacts {
  display: flex;
  gap: 93px;
  justify-content: flex-end;
  margin: 0px 50px;
}

.nav-link {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--colroTextLink);
}
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  max-width: 620px;
  margin: auto;
  margin-bottom: 30px;
  color: var(--colorTextSecondary);
}
.hero-title-part {
  display: flex;

  margin: auto;
  max-width: 500px;
}
/* .hero-container {
  display: flex;
  justify-content: center;
} */
.hero-container {
  display: flex;
  justify-content: center;
}
.hero-button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  max-width: 216px;
  max-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
  cursor: pointer;
  margin: auto;
}

.feachers {
  max-width: 1600px;
  padding-top: 94px;
}
.feachers-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feachers-list {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  column-gap: 30px;
  align-items: baseline;
}
.feachers-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}
.team {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.teammate {
  background-color: var(--colorTextSecondary);
}
.teammate-name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.teammate-role {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
  padding-bottom: 30px;
}

.footer {
  max-width: 1600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: var(--colorTextFooterAndSections);
  padding-top: 60px;
  padding-bottom: 60px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  gap: 8px;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 8px;
  border-radius: 4px;
  background: var(--colorTextWhite);
}
.filters-button:hover {
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
}
.portfolio-container {
  /* max-width: 1170px; */
  flex-direction: column;
  align-items: center;
  display: flex;
}
.portfolio {
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.project-title {
  padding-top: 20px;
  padding-left: 24px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-item {
  color: var(--colorTextWords);
}

.hero {
  background-color: var(--colorTextFooterAndSections);
}

.team {
  background-color: var(--colorTextWhite);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}
.footer-text {
  color: var(--colorTextSecondary);
}
.footer-logo {
  display: flex;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
}
.footer-logo-part {
  display: flex;
  gap: 10px;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colorTextSecondary);
}
.footer-address {
  color: var(--colorTextSecondary);
  text-decoration: none;
}
.footer-link {
  color: var(--colorTextSecondary);
}
/* .footer-list {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  flex-wrap: wrap;
} */
.header-link {
  color: var(--colorTextWords);
}
.header-link:hover {
  color: var(--colroTextLink);
}
