:root {
  --colorTextTitle: #212121;
  --colorTextPrimary: #757575;
  --colorTextSecondary: #ffffff;
  --colroTextLink: #2196f3;
  --colorTextWords: #000000;
  --colorTextFooterAndSections: #2f303a;
  --colorTextAdress: #ffffff;
  --colorTextheader: #ececec;
  --colorTextWhite: #f5f4fa;
  --colorTextartiles: #eeeeee;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  max-width: 1600px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
}
.header-logo-part {
  color: var(--colorTextWords);
}

.hero {
  max-width: 452px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.nav-link {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--colroTextLink);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}
.feachers {
  max-width: 1600px;
  padding-top: 94px;
}
.feachers-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feachers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.teammmate-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.footer {
  max-width: 1600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: var(--colorTextFooterAndSections);
  padding-top: 60px;
  padding-bottom: 60px;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.portfolio-item {
  color: var(--colorTextWords);
}
.portfolio-item:hover {
  color: var(--colroTextLink);
}
.hero {
  background-color: var(--colorTextFooterAndSections);
}
.hero-title {
  color: var(--colorTextSecondary);
}
.hero-button {
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);

  cursor: pointer;
}
.team {
  background-color: var(--colorTextWhite);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}
.footer-text {
  color: var(--colorTextSecondary);
}
.footer-logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
}
.footer-logo-part {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colorTextSecondary);
}
.footer-address {
  color: var(--colorTextSecondary);
  text-decoration: none;
}
.footer-link {
  color: var(--colorTextSecondary);
}
.footer-list {
  text-decoration: none;
}
.header-link {
  color: var(--colorTextWords);
}
.header-link:hover {
  color: var(--colroTextLink);
}
.hero-button:hover {
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
}
.footer-logo-part {
  color: var(--colroTextLink);
}
