:root {
  --colorTextTitle: #212121;
  --colorTextPrimary: #757575;
  --colorTextSecondary: #ffffff;
  --colroTextLink: #2196f3;
  --colorTextWords: #000000;
  --colorTextFooterAndSections: #2f303a;
  --colorTextAdress: #ffffff;
  --colorTextheader: #ececec;
  --colorTextWhite: #f5f4fa;
  --colorTextartiles: #eeeeee;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  max-width: 1206px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-width: 0px 0px 1px 0px;
  border-color: var(--colorTextartiles);
  border-style: solid;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-link {
  color: var(--colorTextWords);
}
.header-link:hover {
  color: var(--colroTextLink);
}

.nav-list {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 93px;
}
.header-logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
  display: flex;
  justify-content: flex-start;
}
.header-logo-part {
  color: var(--colorTextWords);
  display: flex;
  gap: 93px;
  justify-content: flex-start;
}
.contacts {
  display: flex;
  gap: 93px;
  justify-content: flex-end;
  margin: 0px 50px;
}
.contacts-icon {
  width: 16px;
  height: 12px;
  fill: var(--colorTextPrimary);
  margin-right: 10px;
}
.contacts-icon:hover {
  fill: var(--colroTextLink);
  cursor: pointer;
}
.contacts-link:hover {
  color: var(--colroTextLink);
  cursor: pointer;
}
.contacts-link:hover .contacts-icon {
  fill: var(--colroTextLink);
  cursor: pointer;
}
.contacts-link:hover .contacts-icon-phone {
  fill: var(--colroTextLink);
  cursor: pointer;
}
.contacts-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--colorTextPrimary);
  margin-right: 10px;
}
.contacts-icon-phone:hover {
  fill: var(--colroTextLink);
}
.nav-link {
  position: relative;
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--colroTextLink);
  left: 0;
  bottom: -34px;
  border-radius: 6px;
  opacity: 0;
}
.nav-link:hover::after {
  opacity: 1;
}
.nav-link:hover {
  color: var(--colroTextLink);
}
.hero {
  /* max-width: 1600px; */
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--colorTextFooterAndSections);
  background-image: linear-gradient(to right, #2f303a40, #2f303a40),
    url(../hero-photo/bg-photo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  /* max-width: 620px; */
  margin: auto;
  margin-bottom: 30px;
  color: var(--colorTextSecondary);
}
.hero-title-part {
  display: flex;

  margin: auto;
  /* max-width: 500px; */
}
/* .hero-container {
  display: flex;
  justify-content: center;
} */
.hero-container {
  display: flex;
  justify-content: center;
}
.hero-button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  /* max-width: 216px;
  max-height: 50px; */
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  width: 100%;
  height: 100%;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  /* padding: 581px, 528px; */
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.88),
    0px 1px 1px 0px rgb(0, 0, 0, 0.86), 0px 2px 1px 0px rgb(0, 0, 0, 0.8);
  /* padding: 50px; */
}
.modal-title {
  padding-top: 40px;
}
/* .modal-button {
  border-radius: 5px;
  background-color: rgb(38, 198, 234, 0.2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 40px;
  margin-left: 150px;
  color: #ffffff;
  padding: 0.6em 1em;
  border: 4px solid #0b0e66;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #0b0e66;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
} */
/* .modal-button:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #26c6ea;
  color: cadetblue;
} */
/* .modal-content {
} */
.modal-box {
  max-width: 448px;
  min-height: 40px;
  display: flex;
  border: 1px solid rgb(117, 117, 117, 0.5);
  border-radius: 4px;
}
.modal-box:hover {
  border: 1px solid var(--colroTextLink);
  fill: var(--colroTextLink);
}
.modal-info {
  color: #757575;
}
.modal-comment {
  padding-top: 12px;
  padding-left: 16px;
  color: rgb(117, 117, 117, 0.5);
  width: 448px;
  height: 120px;
}
.modal-vector-close {
  width: 18px;
  height: 18px;
}
.modal-vector {
  margin-top: 11px;
  margin-left: 12px;
  width: 18px;
  height: 18px;
}
.modal-vector:hover {
  fill: var(--colroTextLink);
  cursor: pointer;
}
.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
}
.btn-close:hover {
  cursor: pointer;
  fill: var(--colroTextLink);
}
.modal-policy {
  margin-top: 20px;
  color: #757575;
}
.modal-info-policy {
  margin-top: 20px;
  color: #757575;
}
.modal-info-policy:hover {
  color: var(--colroTextLink);
  cursor: pointer;
  border-bottom: 1px solid var(--colroTextLink);
}
.button-modal-submit {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 40px;
}
.no-scroll {
  overflow: hidden;
}
.feachers {
  /* max-width: 1600px; */
  padding-top: 94px;
}

.feachers-list {
  display: flex;

  flex-wrap: nowrap;
  column-gap: 30px;
  align-items: baseline;
}
.feachers-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--colorTextWhite);
  margin-bottom: 30px;
  background-image: url(../imges/feachers/radio-station.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers-item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--colorTextWhite);
  margin-bottom: 30px;
  background-image: url(../imges/feachers/timer.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers-item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--colorTextWhite);
  margin-bottom: 30px;
  background-image: url(../imges/feachers/cmputer.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers-item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--colorTextWhite);
  margin-bottom: 30px;
  background-image: url(../imges/feachers/astronaut.svg);
  border-radius: 4px;
  background-position: center;
}
.feachers-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feachers-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
}
.work-item {
  position: relative;
}
.work-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--colorTextSecondary);
  background-color: rgb(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 107px;
  font-size: 14px;
  text-transform: uppercase;
}
.team {
  /* max-width: 1600px; */
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.teammate {
  background-color: var(--colorTextSecondary);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.teammate-name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.teammate-role {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
  padding-bottom: 30px;
}
.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-item {
  display: flex;
  justify-content: center;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding-top: 12px;
}
.social-link:hover {
  display: flex;
  justify-content: center;

  background-color: var(--colroTextLink);
  border-radius: 50%;
}
.teammate-icon:hover {
  background-color: var(--colroTextLink);
  fill: var(--colorTextSecondary);
  cursor: pointer;
}
.teammate-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.clients {
  padding-top: 186px;
  padding-bottom: 186px;
}
.clients-box {
  display: flex;
  justify-content: center;
}
.clients-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 50px;
}
.clients-item {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.clients-item-box {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.clients-item-icon {
  fill: #afb1b8;
  cursor: pointer;
  border: 1px solid #afb1b8;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 6px;
  width: 170px;
  height: 92px;
}
.clients-item-icon:hover {
  fill: var(--colroTextLink);
  cursor: pointer;
  border: 1px solid var(--colroTextLink);
}
.clients-title {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 94px; */
  margin-bottom: 50px;
  gap: 8px;
}

.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 0;
  outline: 0;
  cursor: pointer;
  gap: 8px;
  border-radius: 4px;
  background: var(--colorTextWhite);
  padding: 6px 25px;
}
.filters-button:hover {
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-container {
  /* max-width: 1170px; */
  flex-direction: column;
  align-items: center;
  display: flex;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.project {
  border-width: 0px 1px 1px 1px;
  border-color: var(--colorTextartiles);
  border-style: solid;
}
.project-photo {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  inset: 0;
  position: absolute;
  transform: translateY(100%);
  transition: transform 1s ease;
}
.project:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project:hover .project-overlay {
  transform: translateX(0);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
  padding-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.project-text-overlay {
  max-width: 370px;
  max-height: 294px;
  background-color: rgba(33, 149, 243, 0.9);
  color: var(--colorTextSecondary);
  font-size: 18px;
  font-weight: 400;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-item {
  color: var(--colorTextWords);
  flex-basis: calc((100% - 60px) / 3);
}
.team {
  background-color: var(--colorTextWhite);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer {
  align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: var(--colorTextFooterAndSections);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.footer-policy-box {
  display: block;
  max-width: 231px;
}
.footer-logo {
  display: flex;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colroTextLink);
  /* padding-left: 215px;
  padding-top: 60px; */
}
.footer-logo-part {
  display: flex;
  gap: 10px;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--colorTextSecondary);
  padding-bottom: 20px;
}
.footer-address {
  color: var(--colorTextSecondary);
  text-decoration: none;
}
.footer-link {
  color: var(--colorTextSecondary);
}
.footer-text {
  color: var(--colorTextSecondary);
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 9px;
}
/* .footer-box {
  display: flex;
  flex-direction: row;
} */
.footer-social-box {
  display: block;
  color: var(--colorTextSecondary);
  /* padding-top: 72px; */
  height: 100%;
  margin-left: 70px;
  font-weight: 700;
  margin-right: 93px;
}
.footer-social-title {
  padding-bottom: 12px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  border-radius: 50%;
}
.footer-social-link:hover {
  display: flex;
  justify-content: center;
  background-color: var(--colroTextLink);
}
.footer-icon:hover {
  fill: var(--colorTextSecondary);
  cursor: pointer;
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorTextSecondary);
  background-color: (rgba(255, 255, 255, 0.09));
}
.footer-ml-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--colorTextSecondary);
  text-transform: uppercase;
  padding-bottom: 16px;
}
.footer-content {
  display: flex;
  border: 1px solid (255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-ml-mail {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-top: 20px;
  width: 358px;
  max-width: 358px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 50px;
  background-color: var(--colorTextFooterAndSections);
}
.footer-email-info {
  color: rgb(255, 255, 255, 0.6);
}
.footer-item-box {
  display: flex;
  justify-content: flex-end;
}
/* .footer-mlbutton-box {
  position: relative;
} */
.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}
.footer-email-info {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.footer-ml-button {
  display: flex;
  font-weight: 700;
  align-items: center;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 28px;
  background-color: var(--colroTextLink);
  color: var(--colorTextSecondary);
  cursor: pointer;
  /* margin: auto; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-height: 50px;
}
.footer-vector-ml {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
