h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

input {
  border: 0;
  outline: 0;
}

textarea {
  border: 0;
  outline: 0;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1206px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-width: 0px 0px 1px 0px;
  border-color: #eeeeee;
  border-style: solid;
}

.logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #2196f3;
  display: flex;
  justify-content: flex-start;
}

.header__logo-part {
  color: #000000;
  display: flex;
  margin-right: 93px;
  justify-content: flex-start;
}

.nav__list {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 93px;
}

.nav__link {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  bottom: -34px;
  border-radius: 6px;
  opacity: 0;
  transition: 0.5s;
}

.nav__link::before {
  content: "";
  margin-left: auto;
  display: block;
  transition: 0.5s;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:hover {
  color: #2196f3;
}

.contacts {
  display: flex;
  gap: 93px;
  justify-content: flex-end;
  margin: 0px 50px;
}

.contacts__icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover {
  fill: #2196f3;
  cursor: pointer;
}

.contacts__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover {
  color: #2196f3;
  cursor: pointer;
}

.contacts__link:hover .contacts__icon {
  fill: #2196f3;
  cursor: pointer;
}

.contacts__link:hover .contacts__icon-phone {
  fill: #2196f3;
  cursor: pointer;
}

.contacts__icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon-phone:hover {
  fill: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2509803922), rgba(47, 48, 58, 0.2509803922)), url(../hero-photo/bg-photo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero__title-part {
  margin: auto;
}

.button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  box-shadow: 2px 3px 4px 1px rgba(33, 150, 243, 0.5);
  background-color: #5097d1;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(50%, -20%);
}

.modal {
  background-color: #ffffff;
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.88);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  padding-top: 40px;
}

.modal-box {
  max-width: 448px;
  min-height: 40px;
  display: flex;
  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.modal-info {
  color: #757575;
}

.modal-comment {
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  width: 448px;
  height: 120px;
}

.modal-vector-close {
  width: 18px;
  height: 18px;
}

.modal-vector {
  margin-top: 11px;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-vector:hover {
  fill: #2196f3;
  cursor: pointer;
}

.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  transition-property: cursor, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: #2196f3;
  cursor: pointer;
}

.modal-policy {
  margin-top: 20px;
  color: #757575;
}

.modal-vector-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-info-policy {
  margin-top: 20px;
  color: #757575;
  transition-property: color, border-bottom, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-info-policy:hover {
  color: #2196f3;
  cursor: pointer;
  border-bottom: 1px solid #2196f3;
}

.button-modal-submit {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 40px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-submit:hover {
  box-shadow: 0px 4px 4px 0px rgba(33, 149, 243, 0.4274509804);
}

.no-scroll {
  overflow: hidden;
}

.section--feachers {
  padding-top: 94px;
}

.feachers__list {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.feachers__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/radio-station.svg);
  border-radius: 4px;
  background-position: center;
}

.feachers__item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/timer.svg);
  border-radius: 4px;
  background-position: center;
}

.feachers__item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/cmputer.svg);
  border-radius: 4px;
  background-position: center;
}

.feachers__item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../imges/feachers/astronaut.svg);
  border-radius: 4px;
  background-position: center;
}

.feachers__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feachers__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
}

.work__item {
  position: relative;
}

.work__subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 107px;
  font-size: 14px;
  text-transform: uppercase;
}

.section--team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.teammate {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.teammate__name {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.teammate__role {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social__item {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: #2196f3;
}

.social__link:hover .teammate-icon {
  fill: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__box {
  display: flex;
  justify-content: center;
}

.clients__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 50px;
}

.clients__item {
  display: flex;
}

.clients__item-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.clients__item-icon {
  fill: #afb1b8;
  cursor: pointer;
  border: 1px solid #afb1b8;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 6px;
  width: 170px;
  height: 92px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item-icon:hover {
  fill: #2196f3;
  cursor: pointer;
  border: 1px solid #2196f3;
}

.clients__title {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
}

.footer {
  align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}

.policy {
  display: block;
  max-width: 231px;
}

.footer-logo {
  display: flex;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #2196f3;
}

.footer__logo-part {
  display: flex;
  gap: 10px;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__address {
  color: #ffffff;
  text-decoration: none;
}

.footer__link {
  color: #ffffff;
}

.footer__text {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer__mail {
  margin-bottom: 9px;
}

.social {
  display: block;
  color: #ffffff;
  height: 100%;
  margin-left: 70px;
  font-weight: 700;
  margin-right: 93px;
}

.social__title {
  padding-bottom: 12px;
}

.social__list {
  display: flex;
  gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  background-color: #2196f3;
}

.footer__icon:hover {
  fill: #ffffff;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.ml__title {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.footer__content {
  display: flex;
  border: 1px solid 255, 255, 255, 0.3;
  border-radius: 4px;
}

.subscribe__title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ml__mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  /* margin-top: 20px; */
  width: 358px;
  max-width: 358px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 50px;
  background-color: #2f303a;
}

.email__info {
  color: rgba(255, 255, 255, 0.6);
}

.footer-item-box {
  display: flex;
  justify-content: flex-end;
}

.subscribe__form {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

.email__info {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.ml__button {
  display: flex;
  font-weight: 700;
  align-items: center;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 28px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  /* margin: auto; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-height: 50px;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ml__button:hover {
  box-shadow: 2px 3px 4px 1px rgba(33, 150, 243, 0.5);
  background-color: #5097d1;
}

.vector__ml {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 8px;
}

.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  gap: 8px;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 25px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-photo {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  inset: 0;
  position: absolute;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project:hover .project-overlay {
  transform: translateX(0);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-text-overlay {
  max-width: 370px;
  max-height: 294px;
  background-color: rgba(33, 149, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-item {
  color: #000000;
  flex-basis: calc((100% - 60px) / 3);
}